
/*------------------
  Product section
---------------------*/

.product-section .container {
	margin-bottom: -90px;
}

.product-filter {
	list-style: none;
	text-align: center;
    margin-bottom: 40px;
    margin-top: 10px;
}

.product-filter li {
	display: inline-block;
	text-transform: uppercase;
	font-size: 18px;
	font-weight: 700;
	margin-right: 70px;
	position: relative;
	cursor: pointer;
}

.product-filter li:last-child {
	margin-right: 0;
}

.product-filter li:last-child:after {
	display: none;
}

.product-filter li:after {
	position: absolute;
	content: "";
	height: 25px;
	width: 1px;
	right: -34px;
	top: 3px;
	background: #414141;
	-webkit-transform: skewX(-20deg);
	-ms-transform: skewX(-20deg);
	transform: skewX(-20deg);
}

.product-item {
	margin-bottom: 50px;
    /*box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.2);*/
}

.product-item figure {
	margin-bottom: 20px;
	position: relative;
	overflow: hidden;
	-webkit-transition: all 0.4s ease 0s;
	-o-transition: all 0.4s ease 0s;
	transition: all 0.4s ease 0s;
	position: relative;
}

.product-item figure img {
	min-width: 100%;
}

.product-item figure:after {
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	opacity: 0;
	border: 2px solid #ebebeb;
}

.product-item .bache {
	position: absolute;
	min-width: 59px;
	height: 59px;
	right: 0;
	top: 0;
	color: #fff;
	font-size: 14px;
	padding: 20px 10px 0;
	text-align: center;
	background: #414141;
	z-index: 3;
}

.product-item .bache.sale {
	background: #fd0018;
}

.product-item .pi-meta {
	position: absolute;
	width: 100%;
	bottom: 0;
	left: 0;
	z-index: 1;
	background: #414141;
	padding: 10px 0;
	opacity: 0;
	-webkit-transform: translateY(110%);
	-ms-transform: translateY(110%);
	transform: translateY(110%);
	-webkit-transition: all 0.4s ease 0s;
	-o-transition: all 0.4s ease 0s;
	transition: all 0.4s ease 0s;
}

.product-item .pi-meta p {
	margin-bottom: 0;
	color: #fff;
	font-size: 12px;
}

.product-item .pi-meta img {
	min-width: auto;
}

.product-item .pi-meta .pi-m-left {
	float: left;
	display: inline-block;
	text-align: center;
	padding: 0 35px;
}

.product-item .pi-meta .pi-m-right {
	float: right;
	display: inline-block;
	text-align: center;
	padding: 0 35px;
}

.product-item .product-info {
	text-align: center;
}

.product-item .product-info h6 {
	text-transform: uppercase;
	font-weight: 400;
	margin-bottom: 5px;
}

.product-item .product-info p {
	font-size: 24px;
	font-weight: 700;
	color: #414141;
}

.product-item .product-info p span {
	font-size: 14px;
	font-weight: 400;
	color: #000;
}

.product-item:hover figure:after {
	opacity: 1;
}

.product-item:hover .pi-meta {
	opacity: 1;
	-webkit-transform: translateY(0%);
	-ms-transform: translateY(0%);
	transform: translateY(0%);
}


/*------------------
  Product page
---------------------*/

.product-page {
	padding-top: 100px;
	padding-bottom: 5px;
}

.product-thumbs {
	position: absolute;
	height: 500px;
	width: 157px;
	right: 100%;
	top: 0;
	overflow-y: auto;
}

.product-thumbs .pt {
	width: 120px;
	height: 120px;
	display: inline-block;
	margin-bottom: 16px;
	cursor: pointer;
}

.product-thumbs .pt:last-child {
	margin-bottom: 0;
}

.product-content h2 {
    margin-top: 20px;
	margin-bottom: 20px;
}

.product-content .pc-meta {
	margin-bottom: 30px;
}

.product-content .price {
	font-weight: 700;
	display: inline-block;
	margin-right: 18px;
}

.product-content .review {
	display: inline-block;
	position: relative;
	top: -3px;
}

.product-content .review .rating {
	display: inline-block;
	margin-right: 18px;
}

.product-content .review .rating i {
	font-size: 12px;
}

.product-content .review span {
	font-size: 12px;
	color: #b4b4b4;
	font-weight: 600;
}

.product-content p {
	font-weight: 500;
	margin-bottom: 50px;
}

.product-content .color-choose {
	margin-bottom: 50px;
}

.product-content .color-choose span {
	font-size: 14px;
	color: #414141;
	font-weight: 500;
	float: left;
	margin-right: 24px;
}

.product-content .color-choose .cs-item {
	display: inline-block;
	position: relative;
	margin-right: 21px;
}

.product-content .color-choose label {
	width: 15px;
	height: 15px;
	border-radius: 50px;
	background: #333;
	position: relative;
	cursor: pointer;
}

.product-content .color-choose label:after {
	position: absolute;
	content: "";
	width: 0;
	height: 0;
	left: 50%;
	top: 50%;
	border-radius: 50px;
	opacity: 0;
	-webkit-transition: all 0.2s ease 0s;
	-o-transition: all 0.2s ease 0s;
	transition: all 0.2s ease 0s;
}

.product-content .color-choose label.cs-black {
	background: #111111;
}

.product-content .color-choose label.cs-black:after {
	border: 1px solid #111111;
}

.product-content .color-choose label.cs-blue {
	background: #6f91ff;
}

.product-content .color-choose label.cs-blue:after {
	border: 1px solid #6f91ff;
}

.product-content .color-choose label.cs-yollow {
	background: #ffb017;
}

.product-content .color-choose label.cs-yollow:after {
	border: 1px solid #ffb017;
}

.product-content .color-choose label.cs-orange {
	background: #e2613f;
}

.product-content .color-choose label.cs-orange:after {
	border: 1px solid #e2613f;
}

.product-content .color-choose input[type=radio] {
	visibility: hidden;
	position: absolute;
}

.product-content .color-choose input[type=radio]:checked+label:after {
	left: calc(50% - 13.5px);
	top: calc(50% - 13.5px);
	width: 27px;
	height: 27px;
	opacity: 1;
}

.product-content .size-choose {
	margin-bottom: 50px;
}

.product-content .size-choose span {
	font-size: 14px;
	color: #414141;
	font-weight: 500;
	float: left;
	margin-right: 24px;
	padding-top: 10px;
}

.product-content .size-choose .sc-item {
	display: inline-block;
	position: relative;
	margin-right: 5px;
}

.product-content .size-choose label {
	display: inline-block;
	height: 37px;
	min-width: 37px;
	text-align: center;
	padding: 7px 5px 8px;
	font-size: 14px;
	color: #414141;
	font-weight: 500;
	border: 1px solid #dcdfff;
	cursor: pointer;
}

.product-content .size-choose input[type=radio] {
	visibility: hidden;
	position: absolute;
}

.product-content .size-choose input[type=radio]:checked+label {
	border: 1px solid #111111;
}

.product-details {
	margin: 100px 0;
	padding: 60px 0;
	border-top: 2px solid #e7e7e7;
	border-bottom: 2px solid #e7e7e7;
}

.product-details .nav {
	text-align: center;
	display: block;
	margin-bottom: 55px;
}

.product-details .nav li {
	display: inline-block;
	margin-right: 60px;
}

.product-details .nav li:last-child {
	margin-right: 0;
}

.product-details .nav li a {
	font-size: 18px;
	font-weight: 500;
	color: #414141;
	padding: 5px 0;
}

.product-details .nav li a.active {
	border-bottom: 3px solid #b09d81;
}

.product-details .tab-pane p {
	font-weight: 500;
}

.col-lg-cuarto, .col-lg-6 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

@media (min-width: 992px) {
    .col-lg-cuarto {
        /*Con esto de flex y max-width es con lo que se puede cambiar el numero de items por fila, llevando a la par los porcentajes de ambas propiedades
        Indica el % que ha de ocupar en el div que lo contiene. Si es un 25%, caben 4, 33% caben 3, etc.*/
        flex: 0 0 25%;
        max-width: 25%;
    }

 .col-lg-6 {
     -ms-flex: 0 0 50%;
     flex: 0 0 50%;
     max-width: 50%;
 }

}

@media only screen and (max-width: 1527px) {
.product-thumbs {
    position: relative;
    width: 100%;
    height: 120px;
    right: 0;
    margin-top: 16px;
}

.product-thumbs .pt {
    width: 120px;
    float: left;
    margin-bottom: 0;
    margin-right: 16px;
}

.product-thumbs-track {
    width: 1200px;
}

}